<div class="std-div">
  <ion-list lines="none" class="lista-atividades">
    <ion-item>
      <ion-select placeholder="Filtrar atividades" fill="outline" [multiple]="true">
        <ion-select-option value="1">Basquete</ion-select-option>
        <ion-select-option value="2">Vôlei</ion-select-option>
        <ion-select-option value="3">Futebol</ion-select-option>
      </ion-select>
    </ion-item>
    <!-- <ion-searchbar placeholder="Buscar"></ion-searchbar> -->
    <ion-item>
      <div class="card-atv">
        <div class="linha-atividade">
          <ion-icon class="icon-atv" name="basketball"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>Basquete na zuleima</span>
        </div>
        <div class="linha-atividade">
          <ion-icon name="calendar"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <div class="atv-data">
            <span>18/06</span>
            <span>17:00h</span>
          </div>
        </div>
        <div class="linha-atividade">
          <ion-icon name="people"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>8 Participantes</span>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="card-atv">
        <div class="linha-atividade">
          <ion-icon class="icon-atv" name="football"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>Operária Nova F.C. X Sub 17 Criciúma</span>
        </div>
        <div class="linha-atividade">
          <ion-icon name="calendar"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <div class="atv-data">
            <span>12/08</span>
            <span>19:00h</span>
          </div>
        </div>
        <div class="linha-atividade">
          <ion-icon name="people"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>22 Participantes</span>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="card-atv">
        <div class="linha-atividade">
          <ion-icon class="icon-atv" name="tennisball"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>Primeiro treino de tênis</span>
        </div>
        <div class="linha-atividade">
          <ion-icon name="calendar"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <div class="atv-data">
            <span>10/07</span>
            <span>14:00h</span>
          </div>
        </div>
        <div class="linha-atividade">
          <ion-icon name="people"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>1 Participante</span>
        </div>
      </div>
    </ion-item>
    <ion-item>
      <div class="card-atv" routerLink="detalhe-atividades">
        <div class="linha-atividade">
          <ion-icon class="icon-atv" name="bicycle"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>Bate e volta na Cirenaica</span>
        </div>
        <div class="linha-atividade">
          <ion-icon name="calendar"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <div class="atv-data">
            <span>20/08</span>
            <span>09:00h</span>
          </div>
        </div>
        <div class="linha-atividade">
          <ion-icon name="people"></ion-icon>
          &nbsp;&nbsp;&nbsp;
          <span>4 Participantes</span>
        </div>
      </div>
    </ion-item>
  </ion-list>
</div>