<ion-content>
  <ion-list [inset]="true">
    <ion-searchbar></ion-searchbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-img src="assets/basketball-outline.svg"></ion-img>
            <ion-card-content>
              <ion-card-title>Basquete</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-img src="assets/football-outline.svg"></ion-img>
            <ion-card-content>
              <ion-card-title>Futebol</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card>
            <ion-img src="assets/bowling-ball-outline.svg"></ion-img>
            <ion-card-content>
              <ion-card-title>Boliche</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col size="6">
          <ion-card>
            <ion-img src="assets/tennisball-outline.svg"></ion-img>
            <ion-card-content>
              <ion-card-title>Tennis</ion-card-title>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>


  </ion-list>
</ion-content>