ion-select {
  margin: auto;
  width: 100px;
}

.linha-evento ion-icon {
  font-size: 28px;
  color: #0bf101;
}

.linha-evento {
  display: flex;
  align-items: center;
  margin-top: 1vh;
}

.icone-modalidade{
  align-self: flex-end;
}

.atv-data {
  width: 160px;
  display: flex;
  justify-content: space-between;
}