<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="menu"></ion-icon>
      <ion-title>Menu</ion-title>
    </div>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list class="menu-list">
      <ion-menu-toggle
        auto-hide="false"
        *ngFor="let p of menus; let i = index"
      >
        <ion-item
          routerDirection="root"
          [routerLink]="[p.url]"
          lines="none"
          detail="false"
          routerLinkActive="selected"
        >
          <ion-icon
            slot="start"
            [ios]="p.icon + '-outline'"
            [md]="p.icon + '-sharp'"
          ></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="grid"></ion-icon>
      <ion-title>
        Eventos
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="main-content">
  <div class="std-div">
    <ion-list lines="none" class="lista-evento">
      <ion-item *ngFor="let evento of eventos">
        <div class="card-atv">
          <div class="linha-evento">
            <span>{{evento.titulo}}</span>
          </div>
          <div class="linha-evento">
            <ion-icon name="calendar"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <div class="atv-data">
              <span>{{ evento.data | date: 'dd/MM/yyyy' }}</span>
              <span>{{ evento.hora}}</span>
            </div>
          </div>
          <div class="linha-evento">
            <ion-icon name="people"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <span>{{evento.quantidadeParticipantes}} Participantes</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['cadastro-eventos']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
