<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="grid"></ion-icon>
      <ion-title>
        Eventos
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="std-div">
    <ion-list lines="none" class="lista-evento">
      <ion-item *ngFor="let evento of eventos">
        <div class="card-atv">
          <div class="linha-evento">
            <span>{{evento.titulo}}</span>
          </div>
          <div class="linha-evento">
            <ion-icon name="calendar"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <div class="atv-data">
              <span>{{ evento.data | date: 'dd/MM/yyyy' }}</span>
              <span>{{ evento.hora}}</span>
            </div>
          </div>
          <div class="linha-evento">
            <ion-icon name="people"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <span>{{evento.quantidadeParticipantes}} Participantes</span>
          </div>
          <ion-buttons class="ion-buttons-fab">
            <ion-fab-button [routerLink]="['edicao-eventos',evento.id]">
              <ion-icon name="create-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="confirmarExclusao(evento)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
          </ion-buttons>
        </div>
      </ion-item>

    </ion-list>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['cadastro-eventos']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>