/* * {
  outline: 1px solid red;
} */

ion-select {
  margin: auto;
  width: 100px;
}

.icon-atv {
  color: #0bf101;
}

.linha-evento ion-icon {
  font-size: 28px;
}

.linha-evento {
  display: flex;
  align-items: center;
}

.atv-data {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.card-atv {
  width: 90vw;
  margin: 5px auto;
  padding: 10px;
  border-radius: 5px;
  border: 0.1px solid #c2c2c2;
  box-shadow: 0 0 5px #ccc;
}


.ion-buttons-fab {
  display: flex;
  justify-content: flex-end;
}