<ion-header [translucent]="true" id="eventos">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="grid"></ion-icon>
      <ion-title>
        Eventos
      </ion-title>
      <ion-buttons slot="end">
        <ion-menu-button menu="side-menu"></ion-menu-button>
      </ion-buttons>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content  class="bg" [fullscreen]="true">

  <div class="std-div">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullMin]="100" [pullMax]="300">
      <ion-refresher-content
        refreshingSpinner="crescent"
        refreshingText="Atualizando..."
      >
      </ion-refresher-content>
    </ion-refresher>

    <ion-list lines="none" class="lista-evento">
      <ion-item *ngFor="let evento of eventos" [routerLink]="['edicao-eventos', evento.id]"
      >
        <div class="card-atv">
          <div class="evento-imagem">
            <img [src]="evento.imagem ? evento.imagem : '/assets/img/pexels-pixabay-46798.jpg'" />
            <h2>{{evento.titulo}}</h2>
          </div>
          <div class="linha-evento">
            <ion-icon [src]="'assets/' + evento.modalidade.icone" ></ion-icon>
            &nbsp;&nbsp;&nbsp;<span>{{ evento.modalidade.nome }}</span>
        </div>
          <div class="linha-evento">
              <ion-icon name="calendar-outline"></ion-icon>
              &nbsp;&nbsp;&nbsp;<span>{{ evento.data | date: 'dd/MM/yyyy' }}</span>
              &nbsp;&nbsp;&nbsp;<ion-icon name="time-outline"></ion-icon>
              &nbsp;<span>{{ evento.hora | slice:0:5 }}H</span>
          </div>
          <div class="linha-evento">
            <ion-icon name="people-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <span>{{evento.quantidadeParticipantes}} Participantes</span>
          </div>
          <div class="linha-evento">
            <ion-icon name="location-outline"></ion-icon>
            &nbsp;&nbsp;&nbsp;
            <span>{{evento.cidade.nome + ' - ' + evento.bairro}}</span>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-buttons class="ion-buttons-fab">
      <ion-fab-button [routerLink]="['cadastro-eventos']">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-buttons>
  </ion-fab>

</ion-content>
