.filtros{
  margin: 5px auto;
  padding: 10px;
  width: 85vw;
  background-color: #fff;
  border-radius: 20px;
  text-align: center;
}


.linha-evento ion-icon {
  font-size: 28px;
  color: #0bf101;
}

.linha-evento {
  display: flex;
  align-items: center;
  margin-top: 1vh;
}

.atv-data {
  width: 160px;
  display: flex;
  justify-content: space-between;
}

.search{
  width: 320px;
  margin: 0px 10px;
  --background: #FFF;
  --border-radius: 20px;
}

.linha-meus-eventos {
  display: flex;
  align-items: center;
}

.linha-meus-eventos ion-icon {
  font-size: 28px;
  color: #0bf101;
}

.linha-meus-eventos span {
  margin-left: 4px;
}

.chip-active {
  border: 2px solid #000; 
  border-radius: 16px; 
}