<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="bicycle"></ion-icon>
      <ion-title>
        Bate e volta na Cirenaica
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="titulo-page">
        <ion-icon name="basketball"></ion-icon>
        <ion-title>
          Bate e volta na Cirenaica
        </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div class="std-div ">
    <div class="detalhe-atv">

      <div class="std-flex data">
        <span class="info">CICLISMO</span>
        <ion-fab-button [routerLink]="">
          <ion-icon name="star-outline"></ion-icon>
        </ion-fab-button>
      </div>

      <div class="std-flex atv-data">
        <div class="std-flex">
          <ion-icon name="calendar"></ion-icon>
          <span>18/06</span>
        </div>
        <div class="std-flex">
          <ion-icon name="time"></ion-icon>
          <span>17:00h</span>
        </div>
      </div>

      <div>
        <ion-textarea [autoGrow]="true" value="Lorem ipsum dolor sit amet. Est quas pariatur et voluptatem placeat ad officia temporibus quo nulla nostrum. 33 dolorem porro quo reprehenderit magnam qui cumque expedita sed quam deserunt et quisquam autem." [readonly]="true" label="Descrição">
        </ion-textarea>
      </div>

      <div>
        <span>Localização</span>
        <div id="mapId" style="width: 300px; height: 300px">
        </div>
      </div>

      <div>
        <ion-list lines="none">
          <span>5 Participantes</span>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://edu-souza.github.io/img/img1.jpg" />
            </ion-avatar>
            <ion-label>Eduardo de souza</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://edu-souza.github.io/img/img1.jpg" />
            </ion-avatar>
            <ion-label>Eduardo de souza</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://edu-souza.github.io/img/img1.jpg" />
            </ion-avatar>
            <ion-label>Eduardo de souza</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://edu-souza.github.io/img/img1.jpg" />
            </ion-avatar>
            <ion-label>Eduardo de souza</ion-label>
          </ion-item>
          <ion-item>
            <ion-avatar slot="start">
              <img alt="Silhouette of a person's head" src="https://edu-souza.github.io/img/img1.jpg" />
            </ion-avatar>
            <ion-label>Eduardo de souza</ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
  </div>

</ion-content>