<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="modalidades" href="/tabs/modalidades">
      <ion-icon aria-hidden="true" name="star-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="usuarios" href="/tabs/usuarios">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>
    
  </ion-tab-bar>

</ion-tabs>