<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="meus-eventos" href="/tabs/meus-eventos">
      <ion-icon aria-hidden="true" name="star-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="eventos" href="/tabs/eventos">
      <ion-icon aria-hidden="true" name="grid-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="usuario" href="/tabs/usuario">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>