<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cadastro de eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cadastro de eventos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="std-div">
    <form [formGroup]="eventosForm">
      <ion-item>
        <ion-input formControlName="titulo" label="Titulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="bairro" label="Bairro"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="rua" label="Rua"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="numero" label="Numero"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="complemento" label="Complemento"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label formControlName="data">Data</ion-label>

        <ion-datetime-button datetime="datetime"></ion-datetime-button>

        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="datetime" color="primary" display-format="DD de MMMM de YYYY" min="1930-01-01" presentation="date" showDefaultButtons="true" doneText="Selecionar" cancelText="Cancelar"></ion-datetime>
          </ng-template>
        </ion-modal>

      </ion-item>

      <ion-item>
        <ion-label formControlName="hora">Hora</ion-label>
        <ion-datetime-button datetime="time"></ion-datetime-button>
        <ion-modal [keepContentsMounted]="true">
          <ng-template>
            <ion-datetime id="time" color="primary" display-format="HH:mm" min="00:00" max="23:59" presentation="time" showDefaultButtons="true" doneText="Selecionar" cancelText="Cancelar"></ion-datetime>
          </ng-template>
        </ion-modal>
      </ion-item>

      <ion-item>
        <ion-select formControlName="tipo" label="Tipo">
          <ion-select-option value="não recorrente">Não recorrente</ion-select-option>
          <ion-select-option value="recorrente">Recorrente</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="eventosForm.get('tipo')?.value === 'recorrente'">
        <ion-select formControlName="diasemana" label="Dia da Semana">
          <ion-select-option value="Domingo">Domingo</ion-select-option>
          <ion-select-option value="Segunda-feira">Segunda-feira</ion-select-option>
          <ion-select-option value="Terça-feira">Terça-feira</ion-select-option>
          <ion-select-option value="Quarta-feira">Quarta-feira</ion-select-option>
          <ion-select-option value="Quinta-feira">Quinta-feira</ion-select-option>
          <ion-select-option value="Sexta-feira">Sexta-feira</ion-select-option>
          <ion-select-option value="Sábado">Sábado</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input formControlName="quantidadeParticipantes" type="number" label="Participantes"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea formControlName="descricao" [autoGrow]="true" label="Descrição">
        </ion-textarea>
      </ion-item>

      <ion-item>
        <ion-select formControlName="cidade" label="Cidade" placeholder="Selecione a cidade">
          <ion-select-option value="ae0a90df-3b84-4c72-90fa-e60f1ec69932">Criciuma</ion-select-option>
          <ion-select-option value="3de66ed5-5f92-4cd8-9dd6-2cf0e898e21d">Sideropolis</ion-select-option>
          <ion-select-option value="ebdf0e31-73c9-4686-ab55-9db0b00a6fba">Ararangua</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-select formControlName="status" label="Status" placeholder="Status">
          <ion-select-option value="A">Ativo</ion-select-option>
          <ion-select-option value="I">Inativo</ion-select-option>
          <ion-select-option value="C">Cancelado</ion-select-option>
        </ion-select>
      </ion-item>

    </form>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="">
      <ion-icon name="checkmark-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>