<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="person"></ion-icon>
      <ion-title>
        Perfil
      </ion-title>
    </div>
  </ion-toolbar>
  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button [routerLink]="['user-cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="titulo-page">
        <ion-icon name="person-outline"></ion-icon>
        <ion-title>
          Perfil
        </ion-title>
      </div>
    </ion-toolbar>

  </ion-header>

  <lista-usuario></lista-usuario>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['user-cadastro',userId]">
      <ion-icon name="create"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>