

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="titulo-page">
        <ion-icon name="grid"></ion-icon>
        <ion-title>
          Modalidades
        </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>
  
  <!-- <lista-modalidade></lista-modalidade> -->

  <ion-router-outlet></ion-router-outlet>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end" [edge]="true" class="custom-fab">
    <ion-fab-button [routerLink]="['modalidade-cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>