<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="star"></ion-icon>
      <ion-title>
        Participando
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="titulo-page">
        <ion-icon name="star"></ion-icon>
        <ion-title>
          Participando
        </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

</ion-content>