ion-item {
  --background: #FFF;
  margin: 10px 0;
  border-radius: 15px;
  color: #222;
}

.background-warning {
  --background: #FFC107;
}

.background-danger {
  --background: #FF5252; /* Cor de perigo (danger) */
}

.fab {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 30vh;
}

.map-item {
  display: flex;
  flex-direction: row;
}

.sub-titulo {
  display: flex;
  align-items: center;
}

.sub-titulo span {
  font-size: 1.3rem;
  margin-left: 0.9rem;
}

.linha-partipante {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ion-item-options ion-fab-button {
  font-size: 5px;
  margin-right: 10px;
}

.fab-container {
  justify-content: flex-start;
  align-items: center;
}

.etiqueta {
  border-radius: 10px;
  background-color: #ec942c;
  width: 7vw;
  height: 4vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sliding{
  background-color: transparent;
}

.cad-evento-imagem {
  position: relative;
  width: 100%;
  height: auto;
}

.cad-evento-imagem h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  margin: 0;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.5rem;
}

.down-icon {
  background-color: red;
}

#map {
  margin-top: 1.8vh;
  border-radius: 10px;
  border: 1px solid #c2c2c2
}

.evento-visualizar {
  background-color: #FFF;
  border-radius: 15px;
  padding: 10px 10px;
  margin: 10px 15px;
}


.evento-icon {
  background-color: #FFF;
  --border-radius: 100px;
  width: 65px;
  height: 65px;
}

.linha-evento ion-icon {
  font-size: 28px;
  color: #0bf101;
}

.linha-evento {
  display: flex;
  align-items: center;
  margin-top: 1vh;
}
.button-container {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.button-container ion-button {
  flex: 1;
  margin: 0 5px; /* Espaçamento entre os botões */
}