<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <div class="titulo-page">
        <ion-icon name="grid"></ion-icon>
        <ion-title> Cadastro Modalidades </ion-title>
      </div>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="modalidadeForm" class="std-div">
    <form [formGroup]="modalidadeForm">
      <ion-item>
        <ion-input formControlName="nome" label="Nome"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input formControlName="icone" label="Icone"></ion-input>
      </ion-item>
    </form>


  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [disabled]="!modalidadeForm.valid" (click)="salvar()">
      <ion-icon name="checkmark-circle"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>