<ion-content [fullscreen]="true">
  <ion-header>
    <div><h2 class="titulo-modalidades">Cadastro de Modalidades</h2></div>
  </ion-header>

  <div *ngIf="modalidadeForm" class="std-div">
    <form [formGroup]="modalidadeForm">
      <div class="form-group-horizontal">
        <ion-item>
          <ion-label position="stacked">Nome</ion-label>  
          <ion-input formControlName="nome"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Ícone</ion-label>
          <div class="icon-container">
            <ion-select formControlName="icone" placeholder="Selecione um ícone">
              <ion-select-option *ngFor="let icon of icons" [value]="icon.value">
                <div class="icon-option-content">
                  <img [src]="'assets/' + icon.label">
                  <span class="icon-name">{{ icon.label }}</span>
                </div>
              </ion-select-option>
            </ion-select>

            <img *ngIf="modalidadeForm.get('icone')?.value" 
                 [src]="'assets/' + modalidadeForm.get('icone')?.value" 
                 class="selected-icon" 
                 alt="Ícone Selecionado"/>
          </div>
        </ion-item>
      </div>
    </form>
  </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [disabled]="!modalidadeForm.valid" (click)="salvar()">
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
