<ion-content [fullscreen]="true" id="1">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="trophy"></ion-icon>
      <ion-title>Modalidades</ion-title>
      <ion-buttons slot="end">
        <ion-menu-button menu="side-menu"></ion-menu-button>
      </ion-buttons>
    </div>
    </ion-toolbar>
  <div class="std-div">
    <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)" [pullMin]="100" [pullMax]="300">
      <ion-refresher-content
        refreshingSpinner="crescent"
        refreshingText="Atualizando..."
      >
      </ion-refresher-content>
    </ion-refresher>
    
    <h2 class="titulo-modalidades">Modalidades</h2>

    <ion-list>
      <ion-item *ngFor="let modalidade of modalidades">
        <ion-avatar slot="start">
          <img [src]="'assets/' + modalidade.icone" alt="Ícone da modalidade">
        </ion-avatar>

        <ion-label>
          <h2>{{modalidade.nome}}</h2>
        </ion-label>

        <ion-buttons slot="end" class="ion-buttons-fab">
          <ion-fab-button [routerLink]="['modalidade-cadastro', modalidade.id]">
            <ion-icon name="create-outline"></ion-icon>
          </ion-fab-button>
          <ion-fab-button (click)="confirmarExclusao(modalidade)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
        </ion-buttons>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['modalidade-cadastro']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
