.solicitacao{
  font-size: 0.8rem;
}

.linha-solicitacao {
  display: flex;
  align-items: center;
}

.linha-solicitacao p {
  margin-left: 1.4vw;
}

.solicit-icon{
  font-size: 60px;
  width: 61px;
  height: 61px;
  color: #0bf101;
}