/* * {
  outline: 1px solid red;
} */

.std-div {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid white;
  box-shadow: 0 0 5px #ccc;
}

.std-div h1 {
  margin-left: 1.6rem;
}

.std-flex {
  display: flex;
  align-items: center;
}