.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.div-form {
  margin-top: 2rem;
}

img {
  width: 270px;
  height: 280px
}

h1 {
  margin-top: 10px;
  font-size: 24px;
}

ion-button {
  margin-top: 20px;
}