<ion-content>
  <div class="center-container">
    <img src="assets/logo.svg" />
    <form class="div-form" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="input-group">
        <ion-item>
          <ion-input type="text" placeholder="Login" formControlName="login"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Senha" formControlName="senha"></ion-input>
        </ion-item>
      </div>

      <ion-button expand="block" type="submit">Entrar</ion-button>

      <ion-button type="button" expand="block" color="tertiary">
        <ion-icon name="logo-google" slot="start"></ion-icon>
        Entrar com o Google
      </ion-button>

      <ion-button type="button" expand="block" color="dark" fill="clear" (click)="onCadastro()">Ainda não é da tribo? Cadastre-se!</ion-button>
      
      <!-- Botão "Esqueceu a senha?" adicionado após o botão de cadastro -->
      <ion-button type="button" expand="block" color="dark" fill="clear" (click)="onEsqueceuSenha()">Esqueceu a senha?</ion-button>
    </form>
  </div>
  <!-- Toast para mostrar mensagens de erro -->
  <ion-toast
    *ngIf="errorMessage"
    [message]="errorMessage"
    duration="2000"
    color="danger"
    (ionToastDidDismiss)="errorMessage = null"
  ></ion-toast>
</ion-content>
