<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="titulo-page">
      <ion-icon name="grid"></ion-icon>
      <ion-title>
        Eventos (ADM)
      </ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="std-div">
    <ion-list lines="none" class="lista-evento">
      <ion-item *ngFor="let evento of eventos" class="evento-item" detail="false">
        <div class="linha-evento" [routerLink]="['/tabs/eventos/edicao-eventos', evento.id]">
          <span class="titulo-evento">{{ evento.titulo }}</span>
          <ion-chip [color]="getChipColor(evento.status_aprov)">
            {{ getChipText(evento.status_aprov) }}
          </ion-chip>
        </div>
        <div class="action-buttons">
          <ion-fab-button (click)="confirmarExclusao(evento); $event.stopPropagation()" class="icon-button" size="small">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-fab-button>
          <ion-button color="success" (click)="aprovarEvento(evento); $event.stopPropagation()" class="icon-button" size="small">
            <ion-icon name="checkmark-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="reprovarEvento(evento); $event.stopPropagation()" class="icon-button" size="small">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>
  </div>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/tabs/eventos/cadastro-eventos']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
